.my-footnote{
  float: right;
  bottom: 1em;
  padding-right: 4em;
  font-size: 70%;
}

.my-caption{
  font-size: 60%;
  color: #7f7f7f;
}

.right-vertical{
  position: absolute;
    top: 50%;
    right: 10px;
  transform: translateX(50%) translateY(-50%) rotate(-90deg);
}

.my-img{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* or any custom size */
    max-height: 100%;
}

.bottom-center {
    position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
     margin-right: auto;
     bottom: 8px;
    font-size: 18px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 32px;
    font-size: 18px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 32px;
    font-size: 18px;
}
.remark-slide-content {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code { 
  font-family: 'Source Code Pro',
               'Lucida Console',
                Monaco,
                monospace;
}

img, video, iframe {
  max-width: 100%;
  max-height: 621px;
}

.remark-inline-code{
  /* background: #F5F5F5; /* lighter */
  background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}


.code10 .remark-code {
  font-size: 10%;
}

.code20 .remark-code {
  font-size: 20%;
}

.code30 .remark-code {
  font-size: 30%;
}

.code40 .remark-code {
  font-size: 40%;
}

.code50 .remark-code {
  font-size: 50%;
}

.code60 .remark-code {
  font-size: 60%;
}

.code70 .remark-code {
  font-size: 70%;
}

.code80 .remark-code {
  font-size: 80%;
}

.code90 .remark-code {
  font-size: 90%;
}

.code100 .remark-code {
  font-size: 100%;
}
